/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap"); */


@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aleo",   serif;
}

:root {
  --primary_color: #000 ;
  --secondary_color: #fff;
  --third_color: #cc0000 ;
  --c4_color: #f9f9f9 ;
  --body_color: var(--secondary_color);
  --light_gery : hsla(0, 0%, 0%, 0.4) ;
  --c5_color : rgb(199, 129, 0) ;
}

.active {
  border-bottom: solid 2px var(--secondary_color) !important;
}


#sidemenu .active {
  border-bottom: solid 2px var(--secondary_color);
}

body {
  font-family: Arial, sans-serif;
  background: var(--body_color);
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  user-select: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.header {
  background: var(--third_color);
  color: var(--secondary_color);
  padding: 0 5%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.header nav {
  display: flex;
  align-items: center;
  flex-grow: 3;
  height: 100%;
}

.main_btn {
  padding: 9px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--secondary_color);
  color: var(--primary_color);
  font-weight: bold;
  cursor: pointer;
  transition: 100ms;

}
.main_btn:hover{
  background-color: var(--c4_color);

}

.main_btn:active {
  background-color: var(--primary_color);
  color: var(--secondary_color);
}
.source {
  font-weight: bold;
  font-size: 13px;
  color: var(--primary_color);
  background-color: var(--primary_color);
  color: var(--secondary_color);
  padding: 9px 10%;
}

.category{
  cursor: pointer;
  color: var(--primary_color);
  padding: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.category::before{
  content: "category : ";
}
.category:hover{
  text-decoration: underline;
  color: var(--third_color);
}

.notNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.header nav .link {
  color: var(--secondary_color);
  text-decoration: none;
  font-weight: bold;
  transition: 200ms;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
  flex-grow: 1 ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
}
.header nav .link:hover {
  font-weight: bold;
  background-color: var(--primary_color);
}
.header nav .link:active {
  background-color: var(--secondary_color);
  color: var(--primary_color);
}

.no_articles_container {
  margin: auto;
}
.no_articles {
  text-align: center;
  margin: auto 10px;
  font-size: 1.8rem;
  color: var(--third_color);
  font-weight: 300;
  padding: 20px;
  text-shadow: 4px 14px 16px rgba(0, 0, 0, 0.1);
}
article a:hover {
  color: var(--primary_color);
}

#top_searchs {
  background-color: var(--secondary_color);
  padding: 4px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3px;
  overflow-y: auto;
  border-top: rgb(195, 195, 195) solid 1px;
}
#scrolle {
  position: fixed;
  display: flex ;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 13px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.4rem;        
  background: var(--secondary_color);
  color: var(--primary_color);
  text-align: center;
  transition: 100ms;
  border: 1px solid var(--light_gery);
  box-shadow: hsla(0, 0%, 0%, 0.1) 2px 2px 5px;
}

.search {
  padding: 0 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.85rem;
  background: var(--primary_color) ;
  color: var(--secondary_color);
  font-weight: bold;
  border: 2px solid var(--primary_color);
  text-align: center;
  white-space: nowrap;
}

.search:hover { 
  background-color: var(--third_color);
  border: 2px solid var(--third_color);
  color: var(--secondary_color);
}

.search:active {
  border: 2px solid var(--primary_color);
  background-color: var(--secondary_color);
  color: var(--primary_color);
}

#main_title_top_search {
  color: black;
  font-weight: bold;
  white-space: nowrap;
  position: sticky;
  left: 0;
  background-color: var(--secondary_color);
}

main {
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  min-height: 60vh;
  width: 100%;
}

article {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: var(--secondary_color);
  flex: 1 1 30%;
  max-width: 50%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: onScrollAnim linear;
  animation-timeline: view();
  animation-range: 0 25vh;
  border: 1px var(--light_gery) solid;
  transition: 400ms;
}
article:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@keyframes onScrollAnim {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

li {
  cursor: pointer;
}

article img {
  width: 100%;
  height: auto;
  transition: 250ms;
  object-fit: cover;
  max-height: 40%;
}

article img:hover  {
  filter: contrast(1.1);
}

#logo {
  text-align: center;
  padding: 6px;
  color: var(--secondary_color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  letter-spacing: 1px;
}
#dateNow {
  position: absolute;
  left: 0;
  color: var(--secondary_color);
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}
#weatherNow {
  position: absolute;
  right: 0;
  color: var(--secondary_color);
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#weatherNow img {
  width: 30px;
  height: auto;
}
.first_header {
  background-color: var(--primary_color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  z-index: 9999;
}
article h2 {
  font-size: 18px;
  line-height: 1.1;
  padding: 10px;
  color: var(--third_color);
  border-radius: 6px;
  border-bottom: solid 4px var(--c4_color);
  transition: 200ms;
  margin: 0 5px;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1px;
  flex: 1;
}
.desc {
  font-size: 16px;
  padding: 15px 10px;
  color: var(--primary_color);
  flex-grow: 1;
}
#input_box {
  padding: 5px 19%;
  width: 100%;
  background-color : var(--c4_color);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: bold;
  border-top: solid 1px var(--light_gery) ;
}

#switch{
  animation: drop_down_anim 0.2s ease;
  z-index: 9;
}

@keyframes drop_down_anim {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#weather_icon {
  scale: 1.2;
}

#input_box #input_container {
  position: relative;
  flex-grow: 4;
}
#input_box input {
  border-radius: 10px;
  width: 100%;
  outline: none;
  border: 2px solid var(--light_gery);
  background-color: var(--secondary_color);
  color: var(--primary_color);
  flex-grow: 1;
  font-weight: bold;
  transition: 200ms;
  font-size: 0.9rem;
  padding: 6px 30px;
}

#clear_input{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--third_color);
  position: absolute;
  padding: 2px;
  right: 15px;
}

#input_box button {
  border-radius: 10px;
  border: none;
  background-color: var(--third_color);
  color: var(--secondary_color);
  cursor: pointer;
  flex-grow: 1;
  font-weight: bold;
  transition: 200ms;
  font-size: 0.9rem;
}
#input_box button:hover {
  background-color: var(--third_color);
  color: var(--secondary_color);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#input_box button:active {
  background: var(--secondary_color) !important;
  color: var(--primary_color);
}


#input_box select {
  font-weight: bold;
  border: 3px solid var(--primary_color);
  border-radius: 5px;
  outline: none;
  background-color: var(--primary_color);
  color: var(--secondary_color);
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}
#input_box select:hover {
  background-color: var(--secondary_color);
  border: 3px solid var(--third_color);
  color: var(--third_color);
}


option {
  background-color: var(--secondary_color);
  color: var(--primary_color);
  font-weight: bold;
}

footer {
  background: var(--primary_color);
  color: var(--secondary_color);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  border-bottom: var(--secondary_color) 10px solid;
}

strong {
  color: var(--primary_color);
  font-size: 12px;
  padding: 0 10px;
}

.icon_search {
  cursor: pointer;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  padding: 5px 11px;
  border-radius: 50%;
  transition: 200ms;
}

.link_art {
  padding: 5px 9%;
  margin: 0 5%;
  background: var(--primary_color);
  width: fit-content;
  color: var(--secondary_color);
  border-radius: 5px;
  transition: 200ms;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 5px;
}
.link_art:hover {
  text-decoration: underline;
  background-color: var(--third_color);
  color: var(--secondary_color);
}

.link_art:active {
  background-color: var(--secondary_color);
  color: var(--third_color);
}

.v1:hover,
.v2 {
  background: hsla(0, 0%, 100%, 0.3);
}
.spinner {
  display: block;
  text-align: center;
  margin: auto;
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.time {
  position: absolute;
  display: inline-block;
  width: fit-content;
  background-color: var(--primary_color);
  font-weight: bold;
  color: white;
  padding: 3px 10px;
  font-size: 1rem;
  border-radius: 4px;
}
#bars {
  display: none;
}

#sidemenu_cnt {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: var(--primary_color);
  z-index: 99999999;
  animation: animToRight 0.3s ease;
  animation-fill-mode: forwards;
  overflow-y: auto;
}

@keyframes animToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#sidemenu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
#sidemenu{
  height: 100%;
}
#sidemenu ul li{
  color: var(--secondary_color) !important;
  text-decoration: none; 
  background-color: var(--primary_color);
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  text-transform: capitalize;
  border-top: none;
}
#sidemenu ul li .link {
  color: var(--secondary_color) !important;
  text-decoration: none !important;
  font-size: medium;
}
.link_form{
  color: var(--primary_color) !important;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none !important;
  font-size: medium;
  background-color: var(--secondary_color);
}

#sidemenu ul li:hover {
  background-color: var(--third_color);
}

#sidemenu .fa-xmark {
  color: var(--secondary_color);
  width: 100%;
  scale: 1.8;
  padding: 10px;
  margin: 0;
  width: fit-content;
}

@keyframes anim {
  0% {
    opacity: 0;
    scale: 0.7;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@media only screen and (min-width: 900px) {
  article:nth-child(1) img {
    position: relative;
    grid-area: img;
    object-fit: cover;
    width: 100%;
    max-height: 400px;
  }
  article:nth-child(1) .category {
    grid-area: category;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    padding: 0 30px;
  }
  article:nth-child(1) h2 {
    line-height: 30px;
    grid-area: title;
    margin: 0;
    padding: 10px 20px;
    border-radius: 0;
    border-left: solid 4px var(--c4_color);
    color: var(--primary_color);
    background-color: var(--secondary_color);
    border-bottom: none;
  }
  article:nth-child(1) .desc {
    grid-area: desc;
    font-size: 1rem;
    padding: 20px;
    margin: 0;
    border-left: solid 4px var(--third_color);
    background-color: var(--c4_color);
    color: var(--primary_color);
  }
  article:nth-child(1) .time {
    grid-area: time;
    position: absolute;
    padding: 2px 50px;
    font-size: 1.1rem;
    bottom: 0;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    box-shadow: 3px -3px 15px rgba(0, 0, 0, 0.1);
  }
  article:nth-child(1) .source {
    grid-area: source;
    color: var(--secondary_color);
    background-color: var(--third_color);
    border-left: solid 4px var(--primary_color);
  }
  article:nth-child(1) .link_art {
    width: fit-content;
    padding: 5px 10%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--primary_color);
    color: var(--secondary_color);
    border-radius: 5px;
    grid-area: link;
  }
  article:nth-child(1) .link_art:hover{
    background-color: var(--third_color);
  }
  article:nth-child(1) strong {
    grid-area: author;
    color: var(--primary_color);
  }
  article:nth-child(1) {
    padding: 1px;
    max-width: 100%;
    flex: 1 1 100%;
    display: grid !important;
    grid-template-areas:
      "img title"
      "img source"
      "img desc"
      "img author"
      "img category"
      "img link";
      grid-template-rows: 1fr;
    gap: 1px 15px;
    background-color: var(--secondary_color);
    grid-template-columns: 1fr minmax(0, 1fr);
    animation: fromleft 0.29s ease-out;
  }
  article:nth-child(1)::before{
    content: " Latest New ";
    position: absolute;
    right: -40px;
    top: 19px;
    color: var(--third_color);
    padding: 3px 30px;
    animation: blink 1s infinite alternate;
    font-weight: bold;
    transform: rotate(45deg);
    background: var(--secondary_color);
    border: 3px var(--third_color) solid;
    box-shadow: 0 5 5px hsla(0, 0%, 37%, 0.1);
  }
}
@keyframes blink {
    from {
      opacity: 0.5;
      
    }
    to {
      opacity: 1;
    }
  }

@keyframes fromleft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 900px) {
  * {
    font-size: 0.9rem;
  }
  #bars {
    display: inline !important;
    scale: 1.8;
    cursor: pointer;
    color: var(--secondary_color);
  }
  .header{
    height: 40px;
  }
  #logo i {
    font-size: 1.7rem;
  }
  #logo {
    font-size: 25px !important;
  }
  .header {
    padding: 0 10%;
    justify-content: space-between;
  }
  .header nav {
    display: none;
  }
  article {
    width: 100%;
    flex: 1 1 40% !important;
    animation: none;
  }
  article img {
    width: 100%;
  }
  article h2 {
    font-size: 1.2rem;
  }
  article p {
    font-size: 1rem;
  }
  .main_btn {
    scale: 0.9;
  }
  .main_btn:hover {
    border: none;
    scale: 1 !important;
  }
  small {
    font-size: 0.8rem !important;
  }
  .no_articles_container {
    scale: 0.7;
  }
  footer p,
  footer #logo {
    font-size: 1rem !important;
  }
  #input_box {
    animation: drop_down_anim 0.2s ease;
    padding: 3px;
    gap: 5px;
  }
  #input_box input {
    padding: 5px 15px;
    scale: 0.95;
    flex-grow: 4;
  }
  #input_box button {
    padding: 5px 10px;
    scale: 0.95;
    flex-grow: 1;
  }
  #input_box select {
    flex-grow: 1;
    scale: 0.95;
  }
  #top_searchs {
    display: none;
  }
  .main_title {
    font-size: 1.4rem !important;
  }
  b {
    font-size: larger;
  }
  .main_btn{
    display: none;
  }
  .notNav{
    justify-content: right;
  }
  .notNav i{
    scale: 1.2;
  }
  .form_image_c{
    display: none;
  }
  .form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
  .form{
    width: 100% !important;
    gap: 15px;
  }
  #scrolle{
    scale : 1.3;
  }
}

.main_title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 9px;
  text-transform: capitalize;
  position: relative;
  width: 90%;
  min-width: fit-content;
  margin: 10px auto;
  margin-bottom: 0;
  background: var(--primary_color);
  color: var(--secondary_color);
  border-radius: 6px;
  border-left: var(--third_color) solid 5px;
  border-right: var(--third_color) solid 5px;

}
.main_title:before {
  content: "";  
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--third_color);
  margin: 6px 0;
  transition: 200ms;
}
.main_title:hover:before {
  width: 140px !important;
}
@media only screen and (max-width: 650px) {
  main {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
  article {
    min-width: 100%;
    scale: 0.9;
  }
  article img {
    width: 100%;
  }
  article h2 {
    font-size: 1.2rem;
  }
  article p {
    font-size: 1rem;
  }
  #input_box input {
    padding: 5px 15px;
    scale: 0.95;
    flex-grow: 4;
  }
  #input_box button {
    padding: 5px 10px;
    scale: 0.95;
    flex-grow: 2;
  }
  #input_box select {
    flex-grow: 1;
    scale: 0.95;
  }
  #dateNow,
  #weatherNow {
    display: none;
  }

}


.form_container {
  height: 80vh;
  padding: 0 8%;
  display: flex;
  background-color: var(--secondary_color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 5%;
  gap: 5px;
  color: var(--primary_color);
  border-radius: 10px;
}
.form_title{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.form_label{
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 5px ;
}
.form_input{
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  border: var(--light_gery) solid 1px;
  background-color: var(--secondary_color);
  border-left: var(--third_color) solid 5px;
}
.form_input::placeholder{
  color: var(--light_gery);
}
.form_input:focus{
  background-color: var(--c4_color);
}

.form p {
  margin: 0 5px;
}
.form_btn{
  padding: 11px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--third_color);
  color: var(--secondary_color);
  cursor: pointer;
  min-width: fit-content;
  margin-top: 20px;
}
.form_btn:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form_btn:active{
  background: var(--primary_color) !important;
  color: var(--secondary_color);
}

.form_image_c{
  background-image: url('../../public/images/image.png');
  background-size: cover;
  background-position: center;
  width: 50%;
  border-radius: 50px;
}
